@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  background: #acdbc9;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2vw;
  color: #7f8084;
}

button {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3vw;
  color: #7f8084;
  padding: 0 3vw;
  margin: 1vw auto;
  border-radius: 2.5vw;
  border: none;
  outline: none;
}

/* NAVBAR STYLING  */
nav {
  background: #fdd2b5;
  border-radius: 2.5vw;
  margin-top: 2vh;
  height: 5vw;
  width: 90vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #acdbc9;
  box-shadow: -10px 10px 23px #99c3b3, 10px -10px 23px #bff3df;
}

a {
  color: #7f8084;
  text-decoration: none;
  cursor: default;
  padding: 0 2vw;
  margin: 1vw;
  border-radius: 2.5vw;
  background: #acdbc9;
  box-shadow: -10px 10px 23px #99c3b3, 10px -10px 23px #bff3df;
}

a:active {
  box-shadow: inset -8px 8px 16px #9bc5b5, inset 8px -8px 16px #bdf1dd;
}

/* AUTHENTICATION PAGES */

.auth-panel {
  margin: 2.5vw auto;
  padding: 3vw;
  width: 85vw;
  text-align: center;
}

input.input-box {
  outline: none;
  border: none;
  width: 15vw;
  height: 2vw;
  padding: 2vw;
}

::placeholder {
  text-align: center;
  font-size: 2vw;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #7f8084;
  background: #acdbc9;
}

textarea:focus,
input:focus {
  color: #7f8084;
}

/* NEUMORPHISM STYLING */

.raised-panel {
  background: #acdbc9;
  box-shadow: -10px 10px 23px #99c3b3, 10px -10px 23px #bff3df;
  border-radius: 2.5vw;
}

.raised-btn {
  /* background: linear-gradient(225deg, #b8ead7, #9bc5b5); */
  background: #acdbc9;
  box-shadow: -5px 5px 10px #94bcad, 5px -5px 10px #c4fae5;
}

.raised-btn:active {
  background: #acdbc9;
  box-shadow: inset -8px 8px 16px #9bc5b5, inset 8px -8px 16px #bdf1dd;
}

.inset {
  border-radius: 2.5vw;
  margin: 1vh;
  background: #acdbc9;
  box-shadow: inset -8px 8px 16px #9bc5b5, inset 8px -8px 16px #bdf1dd;
}

/* POMODORO CLOCK COMPONENT  */

.pomodoro-clock {
  margin: 2.5vw auto;
  padding: 3vw;
  width: 85vw;
  /* Grid layout  */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 0.1vw;
  grid-auto-rows: minmax(20vh, auto);
}

.left-panel,
.center-panel,
.right-panel {
  margin: auto;
}

.reset-btn {
  display: block;
  /* margin: 0 auto; */
  height: 5vw;
  width: 15vw;
  position: relative;
  top: 4.7vw;
}

.timer-clock {
  margin: 1vh auto 1vh auto;
  font-size: 15vw;
  padding: 0 3vw;
  border-radius: 2.5vw;
  color: #7f8084;
  /* Neumorphic number display */
  /* color: #acdbc9; */
  /* text-shadow: -5px 5px 10px #94bcad, 5px -5px 10px #c4fae5; */
}

.panel-label {
  padding: 0.75vw 2.5vw;
  font-size: 3vw;
}

.start-stop-btn {
  width: 33vw;
  height: 5vw;
}

/* TOGGLE SWITCH STYLING */

.toggle-container {
  margin: 1vh auto;
  position: relative;
}

.toggle-input {
  height: 9vw;
  width: 33vw;
  box-shadow: -10px 10px 23px #99c3b3, 10px -10px 23px #bff3df,
    inset -10px 10px 23px #99c3b3, inset 10px -10px 23px #bff3df;
  border-radius: 10vw;
  border: 0.5vw solid #acdbc9;
  -webkit-appearance: none;
  outline: none;
}

.toggle-input:before,
.toggle-input:after {
  content: '';
  position: absolute;
  margin: auto;
  /* top: 0;
  border: 0; */
  transition: 0.3s;
  z-index: 5;
}

.toggle-input:before {
  height: 7vw;
  width: 7vw;
  background-color: #acdbc9;
  box-shadow: -10px 10px 23px #99c3b3, 10px -10px 23px #bff3df;
  border-radius: 50%;
  left: 1vw;
  top: 1vw;
  /* content: 'focus'; */
}

.toggle-input:checked:before {
  left: 25vw;
}
.toggle-input:checked:after {
  text-align: center;
}

.toggle-label {
  /* width: 20vw; */
  position: absolute;
  font-size: 6vw;
  right: 11vw;
  transition: all 0.6s ease-in-out;
  z-index: 4;
}

/* JSON DATA TESTING  */

.json-data {
  overflow-y: scroll;
  word-wrap: break-word;
  margin: 1vh;
}

/* .focus-label {
  transition: all 0.6s ease-in-out;
  left: 10vw;
} */

/* .break-label {
  transition: all 0.6s ease-in-out;
  right: 10vw;
} */

.toggle-label-inset {
  /* height: 7vw;
  width: 18vw;
  position: absolute;
  top: 0.8vw;
  left: 9.1vw; */
  /* z-index: 3; */
  /* border-radius: 10vw; */
  /* background: #acdbc9; */
  /* box-shadow: inset -8px 8px 16px #9bc5b5, inset 8px -8px 16px #bdf1dd; */
}
