@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
  padding: 0;
  margin: 0;
}
/* tag styling */
body {
  text-align: center;
  /* background-color: rgba(219, 255, 234, 1); */
  background-color: rgba(244, 255, 235, 1);
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

button {
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
  padding: 0 1em;
  margin: 1em auto;
  border-radius: 1em;
  border: none;
  outline: none;
}

/* Neumorphism styling */
.raised {
  box-shadow: -10px 10px 20px rgba(128, 128, 128, 0.3),
    7px -7px 15px 10px rgba(196, 196, 196, 0.3);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.08),
    rgba(244, 255, 235, 1)
  );
  border-radius: 1em;
  margin: 0 auto;
}

.inset {
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: -10px 10px 10px 0 rgba(128, 128, 128, 0.2) inset,
    8px -7px 5px 0 rgba(0, 0, 0, 0.15) inset;
}

/* Class Styling  */

/* Timer Component  */

/* grid timer wrapper */
.pomodoro-clock {
  margin: 1.5em auto;
  padding: 0.5em;
  width: 90%;
  /* Grid layout  */
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
/* .timer-panel {
  margin: 1.5em auto;
  padding: 0.5em;
  width: 90%; */
/* Grid layout  */
/* display: grid;
  grid-template-columns: 25% 50% 25%;
} */

.timer-clock {
  margin: 1vh auto 1vh auto;
  font-size: 10vw;
  padding: 0;
  width: 30%;
}

.timer-label {
  width: 30%;
  font-size: 5vw;
}

/* Control Panel Component*/
.control-panel {
  margin: 0 auto;
  width: 75%;
}

.panel-inset {
  width: 8em;
  padding: 0.5em 0;
}

.panel-btn {
  margin: 2vh auto;
}
